/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin custom styles */
body{
	background-image: url("../img/food.png");
	background-repeat: repeat;
	font-family: 'Raleway', sans-serif;

}

#bg-wrapper {
	width: 1100px;
	margin: 0 auto;
	background-color: #fff;
	padding-top:20px;
	padding-bottom: 20px;

}
#content-wrapper {
	width: 960px;
	margin: 0 auto;

}
#header {
	width: 960px;
	margin: 0 auto;
}
#header h1 {
	font-size: 75px;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Lobster', cursive;
}
#header h3 {
	font-size: 22px;
	font-style: italic;
	text-align: center;margin-bottom: 20px;
}
.header-banner {
	width: 100%;
	margin-bottom: 20px;
}
#reservations-wrapper {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: auto;
}
#make-reservation {
	width:400px;
	float: left;
	margin-right: 20px;
	border: 1px solid #eaeaea;
	padding: 15px;
	-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
background-color: white;
}
#existing-reservations{
	width:400px;
	float: right;	
		border: 1px solid #eaeaea;
	padding: 15px;
	-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
background-color: white;
min-height: 150px;
}
#existing-reservations h4 {
margin-bottom: 10px;
font-size: 20px;
}

#make-reservation h4 {
	margin-bottom: 10px;
	font-size: 20px;
}
.reviews-img {
	width: 350px;
}
#reviews-text {
	float: right;
}
.main-quote {
	font-size: 55px;
width: 500px;
font-family: 'Lobster', cursive;
}
.quote-attr {
	margin-top: 35px;
}
#dine-with-us {
	width: 960px;
	height: 200px;
	margin:20px 0px 50px 0px;
	clear: both;

}
h4.dine  {
	margin-top:15px;
	margin-bottom: 10px;
	font-size: 20px;
}
h4.reviews  {
	margin-top:15px;
	margin-bottom: 20px;
	font-size: 20px;
}
.reservation-form input {
	display: block;
	margin-bottom: 10px;
	height: 30px;
	width: 380px;
}
.reservation-form button {
   border: 1px solid #eaeaea;
   padding: 0px;
   width: 387px;
   height: 30px;
}
#footer {
	margin-top: 25px;
	font-size: 12px;
}
table {
	border: 1px solid #eaeaea;
	padding: 5px;
	width: 380px;
	text-align: left;
}
table td, table th {
	border: 1px solid #eaeaea;
	padding: 5px;
	text-align: left;
}
table th {
	font-size: 14px;
	font-weight: bold;
	color:gray;
}
table td {
	font-size: 13px;
	color: gray;
}